.container {
    margin: 5px;
    max-width: 1600px;
    height: 60px;
    background-color: #F6F6F6;
    box-sizing: border-box;
    display: flex;
}

.navbar {
    width: 100%;
}

.auth_links {
    box-sizing: border-box;
    width: 20rem;
    border-left: 5px solid #262626;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 40px;
}

a {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
}

a:hover {
    color: var(--active-btn-color);
}