.container {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    z-index: 100;
}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 16px;
    color: var(--primary-color);
    background-color: #e3e3e3;
    border-radius: 0px;
}

button:hover {
    color: var(--active-btn-color);
    background-color: transparent;
}

.cancel {
    color: var(--active-btn-color);
}

.layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    opacity: .2;
}