<form autocomplete="off" [formGroup]="loginInfo" (ngSubmit)="onSubmit()">
    <button class="btnBack" routerLink="/home">Back</button>
    <div class="email">
        <label #label id="email" for="email">Email
            <span class="error">is required</span>
        </label>
        <input #input type="email" name="email" (focus)="goUp($event)" (focusout)="goDown($event)" formControlName="email">
    </div>
    <div class="password">
        <label #label id="password" for="password">Password
            <span class="error">is required</span>
        </label>
        <input #input type="password" name="password" (focus)="goUp($event)" (focusout)="goDown($event)" formControlName="password">
    </div>
    <div class="login-container">
        <button #submit type="submit" class="btnSubmit" [disabled]="loginInfo.invalid">Log in</button>
        <div *ngIf="loginInfo.invalid" class="btnWrap" (click)="openPrompt()"></div>
    </div>
    <p class="signupLink">Create an account - <a href="signup">Sign Up</a></p>
</form>
