/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #262626;
    --active-btn-color: #00bd91;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
